<div class="container-fluid">
    <h1>Usuário #{{user.id}}</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Senha</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/api/v1/users/{{user.id}}/edit">Editar</a></td>
                    <form action="/api/v1/users/{{user.id}}?_method=DELETE" method="post">
                        <td><button type="submit" class="btn btn-danger btn-sm">Apagar</a></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/v1/users/new">Novo Usuário</a>
    <a type="button" class="btn btn-secondary" href="/api/v1/users" method="delete">Voltar</a>
</div>